.counter-section-wrapper{
    background-image: url('../../../images/HomeOne/CounterSection/counter-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .row{
        .col{
            padding: 50px 0;
            .icon-wrapper{
                height: 112px;
                width: 112px;
                background-color: $color-white;
                border: 9px solid $color-blue2;
                border-radius: 50%;
        
                .icon{
                    font-size: 38px;
                    margin: 28px 0;
                    color: $color-black;
                }
            }
        }
    }
    
}
/* ================= Responsive start ================ */
@media  (max-width:576px)  {
    .counter-section-wrapper{
        .row{
            .col{
                padding: 25px 0;  
            }
        }
        
    }
}
/* ================= Responsive end ================ */