.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav {
    .nav-item {
        margin: 0 10px;
    }

    li {
        a {
            font-family: "Rubik", sans-serif;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
            color: #1B153B;
            padding: 25px 0;
            display: block;

            &:hover {
                color: $color-blue;
                transition: 0.4s ease-in-out;
            }
        }
    }
}

.dropdown-mega {
    .dropdown-menu {
        width: 100%;
    }

    h5 {
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        margin: 0;
    }

    .list-group-item {
        font-size: 16px;
        color: $color-black;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        padding: 12px 0;
    }
}

ul.navbar-nav li ul {
    border: transparent;
    padding: 0;
    min-width: 14rem;

    li {
        margin: 0;
        padding: 0;

        a {
            padding: 12px 18px;
            display: block;
            clear: both;
            line-height: 24px;
            margin: 0;
            border-bottom: 1px solid #f1f1f1;

            &:focus {
                background-color: $color-blue;
                color: $color-white;
            }

            &:hover {
                background-color: $color-blue;
                color: $color-white;
                transition: 0.4s ease-in-out;
            }
        }
    }
}

.dropend .dropdown-toggle::after {
    float: right;
    margin: 6px 0;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
    color: $color-blue
}

/* ================== Header Style Two ================*/


.header-style-two {
    .navbar-nav {
        .show {
            .nav-link {
                color: #FEB100;
            }
        }

        .nav-link.active {
            color: #FEB100;
        }

        li {
            a {
                &:hover {
                    color: #FEB100;
                }
            }
        }
    }

    ul.navbar-nav li ul {
        li {
            a {
                &:focus {
                    background-color: #FEB100;
                    color: $color-white;
                }

                &:hover {
                    background-color: #FEB100;
                    color: $color-white;
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
}

/* ================= dropdown animation start ================ */
.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/* ================= dropdown animation end ================ */


/* ================= Responsive start ================ */
@media(max-width: 991.5px) {
    .navbar-nav {
        .nav-link {
            color: $color-white;

            &:hover {
                color: $color-white;
                transition: 0.4s ease-in-out;
            }
        }

        .nav-item {
            margin: 0px;
        }

        li a {
            padding: 13px;
        }
    }

    .dropdown-toggle::after {
        margin: 11px 17px;
        float: right;
    }

    .nav-right {
        display: none;
    }
}

/* ================= Responsive end ================ */