  .single-countUp-wrapper{
    padding-top: 25px;
    h4{
        font-size: 30px;
        font-weight: 400;
        color: $color-white;
    }
    h6{
        font-size: 14px;
        font-weight: 400;
        color: $color-white;
    }
  }