// color 
$color-blue:#1769FE;
$color-blue2: #4083FE;
$color-blueRgba:rgba(23, 105, 254, .7);
$color-black:#1B153B;
$color-white: #FFFFFF;
$color-gray:#645E80;
$color-lightBlue:#D9E4F8;
$color-lightBlue2:#E5EEFF;
$color-yellow: #FFC107;
$color-biolet: #4126A2;
$color-biolet2: #5651D8;

// font
$font:"Rubik",
sans-serif;

// padding
$p-100: 100px;